<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="m-3">
        <h2>ポジティブ数 {{ count_pos }} | ネガティブ数 {{ count_neg }}</h2>
    </div>
    <div class="m-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>テキスト</th>
                    <th >ラベル</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result[0] }}</td>
                    <td>{{ result[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
</body>
</html>